body {
    font-family: Arial, sans-serif;
    background-color: #d2d2d2;
  }
  
  .form-box {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e0efff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .button {
    background-color: #5e4caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: #4c45a0;
  }
  
  .form-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 30%;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }