{% extends 'base.html' %}
{% block content %}
    <h1>Student Exam Performance Prediction - Thanseef</h1>
    <div class="form-box">
        <div class="form-group">
            <label for="gender">Gender :</label>
            <select id="gender" name="gender">
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ethnicity">Race or Ethnicity :</label>
            <select id="ethnicity" name="ethnicity">
                <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                <option value="group A">
                    Group A
                </option>
                <option value="group B">
                    Group B
                </option>
                <option value="group C">
                    Group C
                </option>
                <option value="group D">
                    Group D
                </option>
                <option value="group E">
                    Group E
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="parental_level_of_education">Parental Level of Education :</label>
            <select id="parental_level_of_education" name="parental_level_of_education">
                <option class="placeholder" selected disabled value="">Select Parent Education</option>
                <option value="associate's degree">
                    associate's degree
                </option>
                <option value="bachelor's degree">
                    bachelor's degree
                </option>
                <option value="high school">
                    high school
                </option>
                <option value="master's degree">
                    master's degree
                </option>
                <option value="some college">
                    some college
                </option>
                <option value="some high school">
                    some high school
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="lunch">Lunch Type :</label>
            <select id="lunch" name="lunch">
                <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                <option value="free/reduced">
                    free/reduced
                </option>
                <option value="standard">
                    standard
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="test_preparation_course">Test preparation Course :</label>
            <select id="test_preparation_course" name="test_preparation_course">
                <option class="placeholder" selected disabled value="">Select Test_course</option>
                <option value="none">
                    None
                </option>
                <option value="completed">
                    Completed
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="writing_score">Writing Score out of 100 :</label>
            <input style="padding: 4%;" type="number" class="form-control" id="writing_score" name="writing_score" placeholder="Enter your score">
        </div>   

        <div class="form-group">
            <label for="reading_score">Reading Score out of 100 :</label>
            <input style="padding: 4%;" type="number" class="form-control" id="reading_score" name="reading_score" placeholder="Enter your score">
        </div> 

        <div>
            <button class="button" onclick="PredictResult()">Predict Result</button>
        </div>

        <h2 id="Output"></h2>
    </div>

{% endblock %}

{% block javascript %}
<script>
    function PredictResult() {
        const gender = document.getElementById("gender").value;
        const ethnicity = document.getElementById("ethnicity").value;
        const parental_level_of_education = document.getElementById("parental_level_of_education").value;
        const test_preparation_course = document.getElementById("test_preparation_course").value;
        const writing_score = document.getElementById("writing_score").value;
        const reading_score = document.getElementById("reading_score").value;
        const lunch = document.getElementById("lunch").value;
        const output = document.getElementById('Output');
        document.getElementById("gender").value = "";
        document.getElementById("ethnicity").value = "";
        document.getElementById("parental_level_of_education").value = "";
        document.getElementById("test_preparation_course").value = "";
        document.getElementById("writing_score").value = "";
        document.getElementById("reading_score").value = "";
        document.getElementById("lunch").value = "";
        const waitingPopup = Swal.fire({
            title: "Loading...!",
            width: '20%',
            html: "Waiting for response from ML Model!<br>",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            },
        });

        fetch("/predict_data", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ 
            gender : gender,
            ethnicity: ethnicity,
            parental_level_of_education : parental_level_of_education,
            test_preparation_course  :test_preparation_course,
            writing_score : writing_score,
            reading_score : reading_score,
            lunch : lunch
        }),
        })
        .then((response) => response.json())
        .then((data) => {
            waitingPopup.close();
            output.textContent = "Predicted Result " + data;
        });
    }
</script>
{% endblock %}